version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/node:22.12
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run:
          name: Install dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run:
          name: Run lint
          command: npm run lint

      - run:
          name: Build
          command: npm run build

      - run:
          name: Deploy to netlify
          command: npm run deploy

workflows:
  build_deploy:
    jobs:
      - deploy
